* {
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    width: 100%;
    overflow: hidden;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font: xx-large Arial;
}


.container, .keypad, .display, .keypad-row {
    display: flex;
}

.container {
    position: relative;
    flex-direction: column;
    flex: auto;
    max-height: 600px;
    max-width: 400px;
    border-radius: 20px;
}

.keypad {
    gap: 1em;
    flex-grow: 2;
    padding: 1em;
    align-items: center;
    background-color: black;
    height: auto;
    flex-direction: column;
    border-radius: 0 0 20px 20px;
}

.keypad-row{
    gap: .75em;
    flex: auto;
    width: 100%;
    height: auto;
    justify-content: center;
}

.display{
    justify-content: flex-end;
    align-items: flex-end;
    overflow: hidden;
    width: 100%;
    height: 30%;
    background-color: black;
    font: 50px Arial; 
    padding-right: .5em;
    border-radius: 20px 20px 0 0;
}


button {
    transition: background-color 0.5s ease;
    width: 4em;
    border: none;
    flex-grow: 0;
    font: bold 20px Arial;
    color: white;
    background-color: gray;
    border-radius: 1em;
}

button.numeric[value="0"] {
    flex-grow: 4;
}

button.operator {
    background-color: lightcoral;
}

button.percent, button.sign, button.status {
    background-color: lightgrey;
    color: black;
}
